<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>UR2019夏季新品青春女装经典格纹一排扣吊带连衣裙YL22R7AF2001-tmall.com天猫</title>
    <link rel="icon" type="image/x-icon" href="https://img.alicdn.com/tfs/TB1XlF3RpXXXXc6XXXXXXXXXXXX-16-16.png" />
    
    <!-- jQuery -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/week1_2/tmall.css') }}">

</head>

<body>
    <!-- 淘宝导航栏 -->
    <header>
        <div class="width">
            <!-- 导航栏左侧 -->
            <div class="left">
                <a href="https://dev.com/tmallIndex">
                    <span class="glyphicon glyphicon-home" aria-hidden="true" style="color: red;"></span>
                    天猫首页</a>
                <p class="p-header">喵，欢迎来天猫</p>
                <a href="#">请登录</a>
                <a href="#">免费注册</a>
            </div>
            <!-- 导航栏右侧 -->
            <div class="right">
                <!-- 下拉框 -->
                <div class="dropdown">
                    <a class="dropbtn" href="#">我的淘宝</a>
                    <div class="dropdown-content">
                        <a href="#">已买到的宝贝</a>
                        <a href="#">已卖出的宝贝</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn" href="#">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color: red;"></span>
                        购物车</a>
                    <div class="dropdown-content">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn" href="#">收藏夹</a>
                    <div class="dropdown-content">
                        <a href="#">收藏的宝贝</a>
                        <a href="#">收藏的店铺</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- logo 搜索框 -->
    <div class="top-wrap tmall-top-wrap">
        <div class="width">
            <!-- logo -->
            <a class="left" href="https://dev.com/tmallIndex">
                <img src="https://assets.alicdn.com/g/tm/login/3.0.2/img/logo.png" width="186" height="26">
            </a>
            <div class="left">
                <div class="sLogo">
                    <a>UR官方旗舰店</a><br>
                    <p>品牌直销</p>
                </div>
                <div class="sInfo">
                    <p class="p-up">描 述 服 务 物 流</p>
                    <p class="p-dw">4 .8 - 4 .8 - 4 .8<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"
                            style="color: red;"></span></p>
                </div>
                <div class="phone">
                    <p>手机逛</p>
                    <span class="glyphicon glyphicon-qrcode" aria-hidden="true" style="color: #999;"></span>
                </div>
            </div>

            <!-- 搜索框 -->
            <div class="right">
                <button type="submit" class="tmall-search-s-button">搜本店</button>
                <div class="tmall-search">
                    <input type="text" class="tmall-search-input">
                    <button type="submit" class="tmall-search-button">搜天猫</button>
                </div>

            </div>
        </div>
    </div>
    <!-- 商品详情 -->
    <div class="good-info width">
        <!-- 店铺logo -->
        <div class="good-info-logo">
            <a href="#">
                <img src="https://gdp.alicdn.com/imgextra/i3/2104668892/O1CN01xHNqgh2FYaJvjkMtY_!!2104668892.png">
            </a>
        </div>
        <!-- 店铺导航栏 -->
        <div class="good-info-bar">
            <nav>
                <a href="#">首页</a>
                <a href="#">所有产品</a>
                <a href="#">年终折扣</a>
                <a href="#">SALE</a>
                <a href="#">热卖直降</a>
                <a href="#">女士</a>
                <a href="#">青春</a>
                <a href="#">男士</a>
                <a href="#">配饰</a>
                <a href="#">客服中心</a>
                <a href="#">品牌形象</a>
            </nav>
        </div>
        <!-- 详情 -->
        <div class="detail">
            <!-- 商品操作购买 -->
            <div class="detail-head">
                <!-- 商品幻灯片 -->
                <div class="detail-img">
                    <div id="img-top">
                        <img
                            src="https://img.alicdn.com/imgextra/i4/2104668892/O1CN01YDjA022FYaLpyRe7a_!!0-item_pic.jpg_430x430q90.jpg">
                    </div>
                    <div class="img-bottom">
                        <nav id="img-bottom">
                            <a href="#">
                                <img style="border: black solid 2px;"
                                    src="https://img.alicdn.com/imgextra/i4/2104668892/O1CN01YDjA022FYaLpyRe7a_!!0-item_pic.jpg_430x430q90.jpg">
                            </a>
                            <a href="#">
                                <img
                                    src="https://img.alicdn.com/imgextra/i3/2104668892/O1CN01MKr7pR2FYaLt8AxHf-2104668892.jpg_430x430q90.jpg">
                            </a>
                            <a href="#">
                                <img
                                    src="https://img.alicdn.com/imgextra/i1/2104668892/O1CN01Jg6QA42FYaLsowJ7X-2104668892.jpg_430x430q90.jpg">
                            </a>
                            <a href="#">
                                <img
                                    src="https://img.alicdn.com/imgextra/i2/2104668892/O1CN01l2mZhl2FYaLre8aEe-2104668892.jpg_430x430q90.jpg">
                            </a>
                            <a href="#">
                                <img
                                    src="https://img.alicdn.com/imgextra/i1/2104668892/O1CN0137cIvR2FYaLqM95TW-2104668892.jpg_430x430q90.jpg">
                            </a>
                        </nav>
                    </div>
                </div>
                <!-- 商品购买 -->
                <div class="detail-wrap">
                    <div class="detail-wrap-head">
                        <h1>UR2019夏季新品青春女装经典格纹一排扣吊带连衣裙YL22R7AF2001</h1>
                        <p>吊带一排扣饰，时尚减龄款</p>
                    </div>
                    <div class="detail-wrap-panel">
                        <p>价格<span class="price">¥299</span></p>
                        <p>本店活动<span class="act">满1件,包邮</span></p>
                    </div>
                    <p class="detail-wrap-express">运费<span>广东广州至梅州 快递: 8.00</span></p>
                    <div class="detail-wrap-integral">

                    </div>
                    <div class="detail-wrap-choose">
                        <p>尺码<a href="#"><span class="fiveEm">M</span></a>
                        </p>
                        <!-- <button style="float: right;padding: 4px;" type="button">M</button> -->
                        <br>
                        <p>颜色分类<a href="#"><span class="threeEm">橙</span></a>
                        </p><br>
                        <p>数量<a href="#"><span class="fiveEm">1</span></a>
                        </p><br>
                        <p>花呗分期
                            <a href="#">
                                <span class="threeEm">3期</span>
                                <span class="oneEm">6期</span>
                                <span class="oneEm">12期</span>
                            </a>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#" class="ab">立即购买</a>
                        <a href="#" class="aa"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"
                                style="color: #fff;">加入购物车</a>
                    </div>
                </div>
            </div>
            <!-- 详情信息 -->
            <div class="detail-info">
                <!-- 详情信息左侧 -->
                <div class="detail-info-left">
                    <div class="detail-info-left-head">
                        <h3>
                            <a href="#">
                                ur官方旗舰店
                            </a>
                        </h3>
                        <div class="detail-info-left-head-brief1">
                            <p>
                                <span class="icon">6</span>
                                天猫6年店
                            </p>
                        </div>
                        <div class="detail-info-left-head-brief2">
                            <p class="p-up">描 述 服 务 物 流</p>
                            <p class="p-dw">4 .8 - 4 .8 - 4 .8<span class="glyphicon glyphicon-arrow-up"
                                    aria-hidden="true" style="color: red;"></span></p>
                        </div>
                        <div class="detail-info-left-head-brief3">
                            <div class="enter-shop">
                                <a class="enter-shop-btn" href="#">进店逛逛</a>
                            </div>
                            <div class="fav-shop">
                                <a class="fav-shop-btn" href="#">收藏店铺</a>
                            </div>
                        </div>
                    </div>
                    <div class="detail-info-left-middle">
                        <div class="detail-info-left-middle-block">
                            <p>客服服务时间 </p>
                            <span>周一至周日 9:00 – 22:00</span>
                        </div>
                        <div class="detail-info-left-middle-block">
                            <span>客服电话 4006513512</span>
                            <span>邮箱地址 ur.tmall@ur.cn</span>
                        </div>
                    </div>
                    <div class="detail-info-left-bottom">
                        <div class="detail-info-left-bottom-padding">
                            <a class="a1" href="#">本周新品</a><br>
                            <a class="a2" href="#">WOMEN 女士</a><br>
                            <a class="a2" href="#">YOUTH 青春</a><br>
                            <a class="a2" href="#">MEN 男士</a><br>
                            <a class="a2" href="#">KIDS 儿童</a><br>
                            <a class="a2" href="#">ACC 配饰</a><br>
                            <a class="a1" href="#">2019春季新品</a><br>
                            <a class="a2" href="#">WOMEN 女士</a><br>
                            <a class="a3" href="#">连衣裙</a><br>
                            <a class="a3" href="#">针织</a><br>
                            <a class="a3" href="#">衬衫</a><br>
                            <a class="a3" href="#">T恤</a><br>
                            <a class="a3" href="#">夹克/风衣</a><br>
                            <a class="a3" href="#">外套</a><br>
                            <a class="a2" href="#">YOUTH 青春</a><br>
                            <a class="a3" href="#">连衣裙</a><br>
                            <a class="a3" href="#">针织</a><br>
                            <a class="a3" href="#">衬衫</a><br>
                            <a class="a3" href="#">T恤</a><br>
                            <a class="a3" href="#">夹克/风衣</a><br>
                            <a class="a3" href="#">外套</a><br>
                            <a class="a2" href="#">MEN 男士</a><br>
                            <a class="a3" href="#">针织</a><br>
                            <a class="a3" href="#">衬衫</a><br>
                            <a class="a3" href="#">T恤</a><br>
                            <a class="a3" href="#">夹克/风衣</a><br>
                            <a class="a3" href="#">外套</a><br>
                        </div>
                    </div>
                </div>
                <!-- 详情信息中部 -->
                <div class="detail-info-center">
                    <div class="detail-info-head">
                        <ul>
                            <li class="selected">
                                <a href="#">商品详情</a>
                            </li>
                            <li>
                                <a href="#">累计评价<span>188</span></a>
                            </li>
                        </ul>
                        <p class="detail-info-head-brand-name">品牌名称：UR</p>
                        <p class="detail-info-head-params">产品参数</p>

                        <div class="detail-info-head-list">
                            <p>品牌: UR</p>
                            <p>面料: 其他</p>
                            <p>衣门襟: 单排扣</p>
                            <p>组合形式: 单件</p>
                            <p>年份季节: 2019年夏季</p>
                            <p>销售渠道类型: 商场同款</p>

                        </div>
                        <div class="detail-info-head-list">
                            <p>适用年龄: 25-29周岁</p>
                            <p>领型: 方领</p>
                            <p>颜色分类: 卡其色格子 橙色格子</p>
                            <p>货号: YL22R7AF2001</p>
                            <p>袖长: 无袖</p>
                            <p>廓形: X型</p>
                        </div>
                        <div class="detail-info-head-list">
                            <p>尺码: S M L XL</p>
                            <p>腰型: 中腰</p>
                            <p>袖型: 常规</p>
                            <p>裙型: 其他</p>
                            <p>裙长: 中长裙</p>
                            <p>材质成分: 亚麻55% 棉45%</p>
                        </div>

                    </div>
                    <div class="detail-info-main">
                        <img src="https://img.alicdn.com/imgextra/i2/2104668892/O1CN01BVzkrK2FYaLHidRxO-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i3/2104668892/O1CN01aBeRRs2FYaLGW0fse-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i1/2104668892/O1CN01z4eOY52FYaLLLhdKl-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i3/2104668892/O1CN01o6rpdx2FYaLL06Ixh-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i4/2104668892/O1CN01M0xkYl2FYaLJ814vQ-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i3/2104668892/O1CN01beZWq82FYaLFKQD65-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i2/2104668892/O1CN01Mavaas2FYaLL05V7M-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i2/2104668892/O1CN01DBxkhT2FYaLI8TtNM-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i3/2104668892/O1CN01zc6Qsw2FYaLI3A3XO-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i4/2104668892/O1CN01Hl7hog2FYaLuULnFK-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i4/2104668892/O1CN01VutdSW2FYaLt8Aoyo-2104668892.jpg">
                        <img src="https://img.alicdn.com/imgextra/i3/2104668892/O1CN010hlF0d2FYaLpyR6oK-2104668892.jpg">
                        <img src="https://img.alicdn.com/tfs/TB1.CUdsY9YBuNjy0FgXXcxcXXa-1572-394.png" width="790">
                    </div>
                    <!-- 评论 -->
                    <div class="detail-info-discuss">
                        <h4>累计评价 192</h4>
                        <div class="detail-info-discuss-header">
                            <div class="detail-info-discuss-header-score">
                                <h4>与描述相符</h4>
                                <strong>4.8</strong>
                            </div>
                            <div class="detail-info-discuss-header-tagbox">
                                <div class="detail-info-discuss-header-tagbox-label">
                                    <span>大家都写到</span>
                                </div>
                                <div class="detail-info-discuss-header-tagbox-list">
                                    <div class="detail-info-discuss-header-tagbox-list-inner">
                                        <span class="tag-posi">
                                            <a href="#">式样好(25)</a>
                                        </span>
                                        <span class="tag-posi">
                                            <a href="#">式样好(25)</a>
                                        </span>
                                        <span class="tag-posi">
                                            <a href="#">式样好(25)</a>
                                        </span>
                                        <span class="tag-posi">
                                            <a href="#">式样好(25)</a>
                                        </span>
                                        <span class="tag-posi">
                                            <a href="#">式样好(25)</a>
                                        </span>
                                        <span class="tag-posi">
                                            <a href="#">式样好(25)</a>
                                        </span>
                                        <span>
                                            <a href="#">式样不好(25)</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail-info-discuss-toolbar">
                            <span class="detail-info-discuss-toolbar-filter">
                                <input type="radio" name="filter" checked>全部
                                <input type="radio" name="filter">追评 (2)
                                <input type="radio" name="filter">图片 (34)
                            </span>
                        </div>
                        <div class="detail-info-discuss-grid">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="tm-col-master">
                                            <div class="tm-rate-content">
                                                这件裙子是我现在实体店试了之后才在网上看的，之前在实体店没有买是因为在其他店里买了一件差不多的，结果试了不好看，辗转之后终于在618打折的时候把它买了，拿回来是试穿，但不知道是不是实体店很多人试过的原因，这个刚穿上有点紧，主要是腰部那里的扣子没有对齐，穿着会鼓起来，看着特别别扭，其他还好，质量是比几十一百的好。
                                                <div class="tm-m-photos">
                                                    <ul class="tm-m-photos-thumb">
                                                        <li>
                                                            <img
                                                                src="https://img.alicdn.com/bao/uploaded/i4/O1CN01cGbArJ1eMYAOdaqBk_!!0-rate.jpg_40x40.jpg">
                                                        </li>
                                                        <li>
                                                            <img
                                                                src="https://img.alicdn.com/bao/uploaded/i4/O1CN013nz2Cu1eMYATHBygC_!!0-rate.jpg_40x40.jpg">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tm-rate-date">
                                                    07.04
                                                </div>
                                            </div>

                                        </td>
                                        <td class="col-meta">
                                            <div class="rate-sku">
                                                <p>
                                                    <span>颜色分类：</span>
                                                    橙色格子
                                                </p>
                                                <p>
                                                    <span>尺码：</span>
                                                    S
                                                </p>
                                            </div>
                                        </td>
                                        <td class="col-author">
                                            <div class="rate-user-info">
                                                寒
                                                <span>***</span>
                                                4
                                                <span>（匿名）</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tm-col-master">
                                            <div class="tm-rate-content">
                                                这件裙子是我现在实体店试了之后才在网上看的，之前在实体店没有买是因为在其他店里买了一件差不多的，结果试了不好看，辗转之后终于在618打折的时候把它买了，拿回来是试穿，但不知道是不是实体店很多人试过的原因，这个刚穿上有点紧，主要是腰部那里的扣子没有对齐，穿着会鼓起来，看着特别别扭，其他还好，质量是比几十一百的好。
                                                <div class="tm-m-photos">
                                                    <ul class="tm-m-photos-thumb">
                                                        <li>
                                                            <img
                                                                src="https://img.alicdn.com/bao/uploaded/i4/O1CN01cGbArJ1eMYAOdaqBk_!!0-rate.jpg_40x40.jpg">
                                                        </li>
                                                        <li>
                                                            <img
                                                                src="https://img.alicdn.com/bao/uploaded/i4/O1CN013nz2Cu1eMYATHBygC_!!0-rate.jpg_40x40.jpg">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tm-rate-date">
                                                    07.04
                                                </div>
                                            </div>

                                        </td>
                                        <td class="col-meta">
                                            <div class="rate-sku">
                                                <p>
                                                    <span>颜色分类：</span>
                                                    橙色格子
                                                </p>
                                                <p>
                                                    <span>尺码：</span>
                                                    S
                                                </p>
                                            </div>
                                        </td>
                                        <td class="col-author">
                                            <div class="rate-user-info">
                                                寒
                                                <span>***</span>
                                                4
                                                <span>（匿名）</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tm-col-master">
                                            <div class="tm-rate-content">
                                                这件裙子是我现在实体店试了之后才在网上看的，之前在实体店没有买是因为在其他店里买了一件差不多的，结果试了不好看，辗转之后终于在618打折的时候把它买了，拿回来是试穿，但不知道是不是实体店很多人试过的原因，这个刚穿上有点紧，主要是腰部那里的扣子没有对齐，穿着会鼓起来，看着特别别扭，其他还好，质量是比几十一百的好。
                                                <div class="tm-m-photos">
                                                    <ul class="tm-m-photos-thumb">
                                                        <li>
                                                            <img
                                                                src="https://img.alicdn.com/bao/uploaded/i4/O1CN01cGbArJ1eMYAOdaqBk_!!0-rate.jpg_40x40.jpg">
                                                        </li>
                                                        <li>
                                                            <img
                                                                src="https://img.alicdn.com/bao/uploaded/i4/O1CN013nz2Cu1eMYATHBygC_!!0-rate.jpg_40x40.jpg">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tm-rate-date">
                                                    07.04
                                                </div>
                                            </div>

                                        </td>
                                        <td class="col-meta">
                                            <div class="rate-sku">
                                                <p>
                                                    <span>颜色分类：</span>
                                                    橙色格子
                                                </p>
                                                <p>
                                                    <span>尺码：</span>
                                                    S
                                                </p>
                                            </div>
                                        </td>
                                        <td class="col-author">
                                            <div class="rate-user-info">
                                                寒
                                                <span>***</span>
                                                4
                                                <span>（匿名）</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 详情信息右侧 -->
                <div class="detail-info-right">
                    <ul>
                        <li><a href="#">产品区域</a></li>
                        <li><a href="#">展示尺寸</a></li>
                        <li><a href="#">展示模特图</a></li>
                        <li><a href="#">温馨提示</a></li>
                        <li><a href="#">服务质量</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <footer class="footer-tmall-info">
        <div class="width">
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">阿里巴巴集团</a>|
            <a href="#">虾米</a>|
            <a href="#">阿里星球</a>|
            <a href="#">钉钉</a>|
            <a href="#">支付宝</a>
            <br>
            <p>© 2003-2019 TMALL.COM 版权所有</p>
        </div>
    </footer>
</body>
<!-- 练习时长两天的js -->
<script src="{{ url_for('static', filename='js/week1_2/tmall.js') }}"></script>

</html>